@import "compass_twitter_bootstrap";
.container {
	width: 760px;
	margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content {
	margin: 20px;
}

.content ul {
	margin: 10px;
	color: #666;
}

.content li {
	width: 650px;
}

.send-container {
	height: 30px;
}

input[type="text"] {
	margin-bottom: 0;
	padding-right: 10px;
	width: 80%;
}